@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');
body
{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{margin: 0;}
.land-page
{
    background-blend-mode: overlay;
    height: 100vh;
    background-color: #d6d6d6a7;
}
.nav-items
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}
.nav-links
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
a
{
    text-decoration: none;
    color: #000;
}
li
{
    list-style: none;
}
.nav-links li
{
    text-transform: capitalize;
}
.nav-links li ::before
{
    position: absolute;
    content: '';
    width: 0px;
    height: 2px;
    background: #000;
    top: 2.6em;
}
.nav-links li :hover::before
{
    transition: all 1s;
    width: 70px;
} 
.btn
{
    width: fit-content;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: #000;
    padding: 10px;
    text-transform: capitalize;
    font-weight: 100;
    color: #fff;
    font-size: 15px;
}
.burger .line
{
    width: 30px;
    margin-bottom: 7px;
    height: 2px;
    background-color: #000;
    display: flex;
    flex-direction: column;
}
.burger-1 .line
{
    width: 20px;
    margin-bottom: 7px;
    height: 1px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.burger-1 .line:nth-child(1)
{
    rotate: 60deg;
}
.burger-1 .line:nth-child(2)
{
    position: relative;
    top: -9px;
    rotate: 120deg;
}
.burger-1
{
display: none;
}
.burger
{
    display: none;
}
/* landind section text */
.land-page h1
{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 500%;
    margin: 2% 3%; 
    font-weight: 100;
    line-height: 80px;
    color: #000000cf;
}
.bg-video
{
    position: relative;
    width: 100vw;
    overflow: hidden;
}
.bg-video video
{
    width: 100vw;
    position: fixed;
    z-index: -1;
    height: 100vh;
    object-fit: cover;
    left: 0;
    top: 0;
}
.land-page p
{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 150%;
    margin: 1% 3%;  
    color: #000000cf; 
}
.landing-text
{
    margin-top: 5%;
}
.read-more
{
    margin-left: 45%;
    margin-top: 5%;
}
/* why us page */
.why-us
{
    background: url(images/background-2\ \(1\).jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.why-us h1
{
    margin-top: 0.2em;
    margin-bottom: 0;
    font-weight: 50;
    margin-left: 0.2em;
    font-size: 80px;
    text-transform: capitalize;
    color: #000000cf;
}
.why-us h5
{
    font-weight: 100;
    font-size: 80px;
    margin-left: 0.3em;
    text-transform: uppercase;
    line-height: 90px;
    text-decoration: underline;
}
.text-why
{
    display: flex;
    align-items: center;
    gap: 10%;
    margin: 0em 5em;
}
.text-why img
{
    width: 35%;
    border-radius: 20px;
}
.text-why p
{
    font-size: 20px;
}
/* past projects page  */
.past-projects{
    background: url(images/background-2\ \(2\).jpg);
    height: 100vh;
    background-color: #d6d6d6a7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.projects-text
{
    display: flex;
    gap: 5%;
}
.side-1
{
    margin-left: 3em;
}
.side-1 h1
{
    font-size: 5em;
    font-family: 'Italiana', sans-serif;
    font-weight: 100;
    margin: 0%;
}
.side-1 p
{
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    margin: 0;
    font-weight: 500; 
    font-size: 1em;
}
.side-1 h3
{
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    line-height: 95%;
    text-decoration: underline;
    margin-top: 2em;
}
/* buttons for the slider */
.btns-main
{
    margin-top: 3em;
}
.svg-2
{
    margin-left: 4em;
    rotate: 180deg;
}
.side-2
{
    width: 40%;
}
.image{width:fit-content}
.galery{width: 50%;}
.image img
{
    width: 250%;
}
/* media queries */
@media screen and (max-width:1334px) {
    .land-page h1
{
    font-size: 500%;
    margin: 2% 3%; 
    font-weight: 100;
    line-height: 70px;
}
.land-page p
{
    font-size: 100%;
    margin: 1% 3%; 
    letter-spacing: 15px; 
}
/* why us */
.why-us h1
{
    font-size: 70px;
}
.why-us h5
{
    font-size: 60px;
    line-height: 1;
}
}
@media screen and (max-width:1024px) {
    .btn
{
    padding: 6px;
    font-size: 10px;
}

}
/* big sceen render */
@media screen and (max-width:1440px) {
    /* why us */
.text-why img
{
    width: 35%;
    border-radius: 20px;
}
.text-why p
{
    font-size: 20px;
}
.why-us h5
{
    font-size: 65px;
    line-height: 1;
}
}
/* ipad */
@media screen and (max-width:912px) 
{
    .nav-items
{
    gap: 10%;
}
.land-page h1
{
    font-size: 350%;
    margin: 2% 3%; 
    font-weight: 100;
    line-height: 60px;
}
.land-page p
{
    font-size: 100%;
    margin: 1% 3%; 
    letter-spacing: 10px; 
}
.read-more
{
    margin-top: 10%;
}
.landing-text
{
    margin-top: 15%;
}
}
/* tablet */
@media screen and (max-width:768px)
{
        /* why us */
.text-why img
{
    width: 45%;
}
.text-why p
{
    font-size: 16px;
}
.why-us h5
{
    font-size: 60px;
    line-height: 1;
}
.text-why
{
    display: flex;
    align-items: center;
    gap: 6%;
    margin: 2em 3em;
}
}
/* phone */
@media screen and (max-width:425px) 
{
    .nav-items{display: flex;
    justify-content: space-around;}
    .nav-links{
        position: absolute;
        right: 0px;
        height: 100vh;
        bottom: 0em;
        background: #020202d1;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap: 2em;
        width: 100%;
        transform: translatey(-100%);
        transition: 1s ease-in;
        cursor: pointer;
        z-index: -1;
    }
    .nav-links a{color: #fff;}
    .burger{display: block;}
    #btn-1{display: none;}
    .burger-1
{
display: block;
}
.land-page h1
{
    font-size: 180%;
    margin: 3% 10%; 
    line-height: 30px;
    font-weight: 200;
}
.land-page p
{
    font-size: 60%;
    margin: 1% 10%; 
    letter-spacing: 5px; 
}
.read-more
{
    margin-top: 10%;
}
.landing-text
{
    margin-top: 20%;
}
        /* why us */
        .why-us
        {
            height: fit-content;
        }
        .nav-items h3
        {
            margin-top: 6px;
            margin-bottom: 1em;
        }
        .text-why img
        {
            width: 90%;
            margin-top: 3em;
        }
        .text-why p
        {
            margin-top: 2em;
            font-size: 16px;
        }
        .why-us h5
        {
            margin-top: 1em;
        }
        .text-why
        {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 0;
            margin: 0em 1em;
        }
}